

.carousel-item img {
  max-height: 300px;
  overflow: hidden;
  margin-top: 40px;
}

h2, h4, table, label, .color, .container {
  color: wheat;
}
.col-md-4 img{
  width: 276px;
  height: 183px;
}
tbody {
  background: black;
}
.form-control, .card, .card-block {
  background: black;
}
.card, a {
  color: wheat;
}
a:hover {
  color: Darkgoldenrod;
}
.btn{
  color: wheat;
}
